<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
       
      












        @if(acceso !='true'){
            <li><a routerLink="login">login</a></li>
            <li><a routerLink="registro">registro</a></li>
          }@else {
            <li class="active"><a routerLink="peliculas">pelis</a></li>
            <li class="active"><a routerLink="Api">Api</a></li>
          
        
    
          }




       
       
        
        
      </ul>
    </div>
  </nav>