
<form (ngSubmit)="registro(formulario)" #formulario="ngForm">
    <label> Registro</label>
   

    
    <label>Ingrese email</label>
    <input type="email" placeholder="Ej: Juan@Pérez"  name="email" [(ngModel)]="email">


    <label>Ingrese usuario</label>
    <input type="text" placeholder="Ej: Juan@Pérez"  name="usuario" [(ngModel)]="usuario">
    
    
    <label>Ingrese contrseña</label>
    <input type="password" placeholder="Ej: 25" name="password" [(ngModel)]="password">
    
  <br>
  <br>
  <br>
   

    <button type="submit">Enviar</button>
</form>
